@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  box-sizing: content-box;
}
body {
  margin: 0;
  background-color: #dbe2ef;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

p {
  font-size: 20px;
}

html {
  height: 100%;
}

header {
  background-color: #f9f7f7;
  top: 0;
  text-align: center;
  padding: 10px;
  color: #112d4e;
  background-image: url("../assets/background/colorful-pencils-in-circle-removebg-preview.png");

  background-repeat: no-repeat;
  background-position: left;
}

footer {
  background-color: #112d4e;
  color: #f9f7f7;
  padding: 50px;
  height: 50px;
  font-size: 20px;
}

.regles {
  text-align: justify;
  font-size: 16px;
}

.section-accueil {
  padding: 30px;
  color: #3f72af;
  background-image: url("../assets/background/design-space-paper-textured-background.jpg");

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.accueil {
  height: 80vh;
  text-align: center;
}

.section-jeu {
  background-color: #3f72af;
  background-image: url("../assets/background/182-removebg-preview.jpg");

  text-align: center;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.clavier {
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}

#compris {
  padding: 10px;
  background-color: #3f72af;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  margin-top: 20px;
}

.partie1 {
  vertical-align: middle;
  margin-bottom: 50px;
}

.partie2 {
  width: 400px;
  height: 300px;
  flex-grow: 1;
}

.ecranP {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

#mot {
  text-align: center;
  padding: 0;
  color: white;
  font-size: 40px;
}

#progression {
  text-align: justify;
  list-style-type: none;
  font-size: 24px;
  color: #3f72af;
}

.letter {
  display: inline-block;
  border-bottom: 2px solid #eb6440;
  margin: 5px;
}

#imgStep {
  width: 240px;
  height: 320px;
}

.touches {
  margin: 5px;
  padding: 5px;
  font-size: 32px;
  border: none;
  border-radius: 5px;
  background-color: #112d4e;
  color: white;
  cursor: pointer;
}

.touches:active {
  background-color: white;
  color: #112d4e;
}

#barreSoluce {
  padding: 10px;
  border-radius: 15px;
}
#barreMot {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#tentatives {
  margin-top: 40px;
  color: white;
  font-size: 24px;
}

.cadre {
  background-color: #f9f7f7;
  margin-left: 50px;
  height: 200px;
  overflow-y: scroll;
  flex-grow: 1;
}

#checkMot {
  padding: 5px;
  background-color: #112d4e;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

#checkMot:hover {
  background-color: white;
  color: #112d4e;
}

#titre2 {
  margin-bottom: 30px;
}

#regles1 {
  padding: 5px;
  border: 3px dashed lightcoral;
  border-radius: 15px;
}

#regles2 {
  padding: 5px;
  border: 3px solid lightblue;
  border-radius: 15px;
}

#regles3 {
  padding: 5px;
  border: 3px solid lightgreen;
  border-radius: 15px;
}

.modali {
  text-align: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  position: fixed;
}

.modali:target {
  visibility: visible;
  opacity: 1;
}

.modali_contentop {
  border-radius: 4px;
  position: relative;

  max-width: 90%;
  background: white;
  padding: 1.5em 2em;
}

.modal_closee {
  position: absolute;
  margin-left: 90%;
  color: grey;
  text-decoration: none;
}

.boutonClose {
  background: none;
  padding: 0.5rem 1rem;
  color: #e74c3c;
  border: 2px solid #e74c3c;
  border-radius: 6px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.boutonClose:hover {
  background: #e74c3c;
  color: white;
  transition: 0.5s;
}

#continuer {
  background-color: #3f72af;
  padding: 10px;
  text-decoration: none;
}

#rejouer {
  padding: 10px;
  background-color: lightseagreen;
  border: none;
}

@media all and (max-width: 1050px) {
  .container {
    width: 800px;
  }

  .cadre {
    background-color: #f9f7f7;
    margin-left: 50px;
    height: 200px;
    width: 500px;
    overflow-y: scroll;
  }

  .section-accueil {
    padding-bottom: 70px;
    color: #3f72af;
    background-image: url(../assets/background/design-space-paper-textured-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

}

@media all and (max-width: 850px) {
  .container {
    width: 500px;
  }

  p {
    font-size: 15px;
  }

  .accueil {
    height: auto;
    text-align: center;
  }

  #imgStep {
    width: 120px;
    height: 160px;
  }

  .cadre {
    background-color: #f9f7f7;
    margin-left: 30px;
    height: 120px;
    width: 350px;
    overflow-y: scroll;
  }

  #mot {
    text-align: center;
    color: white;
    font-size: 25px;
  }

  .clavier {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }

  .touches {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #112d4e;
    color: white;
  }

  .partie2 {
    width: 200px;
    height: 150px;
    flex-grow: 1;
  }

  #progression {
    text-align: justify;
    list-style-type: none;
    font-size: 12px;
    color: #3f72af;
  }
}

@media all and (max-width: 530px) {
  .container {
    width: 100%;
  }

  .ecranP {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
  }

  .accueil {
    height: auto;
    text-align: center;
  }

  .section-jeu {
    background-color: #3f72af;
    background-image: url("../assets/background/182-removebg-preview.jpg");

    text-align: center;
  }

  .section-jeu {
    background-color: #3f72af;
    background-image: url("../assets/background/182-removebg-preview.jpg");

    text-align: center;
  }

  .section-jeu {
    background-color: #3f72af;
    background-image: url("../assets/background/182-removebg-preview.jpg");

    text-align: center;
  }

  .cadre {
    background-color: #f9f7f7;
    margin-left: 30px;
    height: 120px;
    width: 160px;
    overflow-y: scroll;
  }

  #checkMot {
    padding: 5px;
    background-color: #112d4e;
    border-radius: 10px;
    color: white;
    font-size: 20px;
  }

  .regles {
    text-align: justify;
    font-size: 12px;
  }

  #compris {
    padding: 10px;
    background-color: #3f72af;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
  }

  #tentatives {
    margin-top: 40px;
    color: white;
    font-size: 20px;
  }

  footer {
    font-size: 18px;
  }

  #progression {
    text-align: justify;
    list-style-type: none;
    font-size: 10px;
    color: #3f72af;
  }
}
